div.main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    list-style-type: none;
    padding: 0.5em;
}

.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
}

.carddemoBasicUsage .card-media {
    background-color: #999999; }