<div xmlns:foaf="http://xmlns.com/foaf/0.1/" class="content">
    <a href="#/cvs/new" class="btn btn-raised btn-primary btn-fab pull-right"><i class="material-icons">+</i></a>
    <h1>Resumes</h1>
    <ul>
        <li ng-repeat="cv in cvs | orderBy:'firstName'" class="panel row"
            about="[cvr:{{ cv.firstName }}{{ cv.lastName }}]">
            <strong>
                <a href="#/cvs/{{cv.account}}">
                    <span propery="foaf:givenName">{{ cv.firstName }}</span>
                    <span property="foaf:familyName">{{ cv.lastName }}</span>
                </a>
            </strong>
            <cite class="clearfix">@{{ cv.account }}</cite>
            <!--<section ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>
                    </li>
                    <li ng-class="{ active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Specification</a>
                    </li>
                    <li ng-class="{ active:panel.isSelected(3)}">
                        <a href ng-click="panel.selectTab(3)">Reviews</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>Description</h4>
                    <p>This is {{cv.firstName}}'s resume.</p>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Specifications</h4>
                    <p>{{cv.firstName}} has many skills like: programming, testing and designing</p>
                </div>
                <div class="panel" ng-show="panel.isSelected(3)">
                    <h4>Reviews</h4>
                    <p>
                        user1: 5 <br/>
                        user2: 10 <br/>
                    </p>
                </div>
            </section>-->
        </li>
    </ul>
</div>