<div class="content">
    <md-list flex>
        <md-subheader class="md-no-sticky">Public</md-subheader>
        <md-list-item ng-repeat="cv in cvs" style="width: 29%; float: left;">
            <md-card class="md-whiteframe-10dp">
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar"
                             src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJSAAAAJDBhMGYzMTk5LTQzOGMtNDRkMS1iZTk2LTk4ZWQ5Zjc1ZGNiZA.jpg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <a href="#/cvs/{{ cv.account }}"><span
                                class="md-title">{{ cv.firstName }} {{ cv.lastName }}</span></a>
                        <span class="md-subhead">@{{ cv.account }}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="http://staugustine.com/sites/default/files/mpg%20-%20how%20to%20write%20a%20resume.jpg"
                     class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ cv.firstName }}'s Resume</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as
                        well...
                    </p>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
</div>