<div>
    <!-- Data Preview -->
    <blockquote>
        <strong>{{ cv.firstName }} {{ cv.lastName }}</strong>
        <cite class="clearfix">— @{{cv.account}}</cite>
    </blockquote>

    <h3>Create new CV</h3>
    <form class="form-horizontal panel" name="newCvForm" ng-submit="createCv()">
        <!-- Form Fields -->
        <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="cv.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Last name</label>
            <input ng-model="cv.lastName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Enter your Account e.g. {{ cv.firstName + cv.lastName }}</label>
            <input ng-model="cv.account">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="createCv();">Create your CV</md-button>
    </form>
</div>